body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend-item{
  text-align: center;
  width:20px;
  height: 20px;
  float: left;
}

.legend {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  float:left;
}

.limits {
  float: right;
}